body {
    background-image: url(../images/black_thread/black_thread_@2X.png);
  }

header {
    background: #ffffff;
    width: 100%;
    height: 60px;
    border-bottom-style: outset;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: stretch;
    overflow: visible;
}
.nav1 {
    float:right;
    margin-right: 5%;
    font-size: 13pt;
    padding: 10px;
    color: #777777;
}       
.nav2 {
    float:right;
    font-size: 13pt;
    padding: 10px;
    color: #777777;

}       
.nav3 {
    float:right;
    font-size: 13pt;
    padding: 10px;
    color: #777777;
}       

#YourName {
    float: left;
    position: absolute;
    padding: 15px 0 15px 0;
    width: 200px;
    height: 30px;
    margin-left: 200px;
    color: #ffffff;
    background-color:#4aaaa5;
    text-align: center; 
    font-size: 18pt;
}
    
.wrapper {
    padding: 50px;
    margin: 50px auto 300px auto;
    max-width: 960px;
    max-height: 960px;
    background: #ffffff;
    border-style: outset;
    border-color:#dddddd;
    border-width: 3px;
    position: relative;
    overflow: auto;
}
.about_me { 
    padding: 0px; 
    color: #4aaaa5;
    margin-left: 20px;
    font-size: 25pt;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    
    
#bio-img {
    float: left;
    width: 200px;
    height: 200px;
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #eee;
}


.textarea {
    margin: 0px;
    width: 100%;
    height: 20px;
}
.large {
    margin: 0px;
    width: 100%;
    height: 300px;
}

p {
    padding: 20px 20px 20px 20px;
    color: #777777;
    background: white;
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
    font-style: oblique;
}

.bio-img1{

    position: relative;
    padding : 20 auto;
    margin: 0 auto;


}

.bio-img2{
    padding : 20 auto;
    margin: 0 auto;
}

.bio-img3{
    padding : 20 auto;
    margin: 0 auto;
}

.bio-img4{
    padding : 20 auto;
    margin: 0 auto;
}

.bio-img5{
    padding : 20 auto;
    margin: 0 auto;
}

a {
    padding : 20 auto;
    margin: 0 auto;
}

a:hover {
    cursor: pointer;
    background-color: blueviolet;
}

a:focus {
    background-color: greenyellow;
}

a:active {
    cursor: progress;
}

.text {
    float: left;
    text-align: center;
    padding: 5px;
    width: auto;
    height: 15px;
    position: absolute;
    z-index: 1;
}

.text:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.text:focus {
    background-color: greenyellow;
}

.text:active {
    cursor: progress;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 15px;    
    width: 100%;
    background: #666666;
    text-align: center;
    overflow: visible;
    align-content: stretch;
    border-top-style: outset;
    border-top-color: #4aaaa5;
    border-top-width: 7px;
    color: #ffffff;
}